.map-text{
    margin-top: -600px;
    margin-left: 700px;
}
.map{
 margin-top: 15px;  
 width: 200px; 
}



.btnsrch1{
    margin-top: 500px;
    margin-left: 500px;
}



.example{
    margin-top: -600px;
}